---
layout: page.njk
date: Last Modified
permalink: /marketing/portfolio.html
eleventyComputed:
  description: "{{ contentful.pages.portfolio.description | safe }}"
  title: "{{ contentful.pages.portfolio.title | safe }}"
---
<div class="w-full px-4 m-auto lg:w-11/12 xl:w-5/6 md:grid md:grid-cols-12 md:gap-10 lg:gap-12">
  <div class="col-span-3"></div>
  <div class="col-span-6 pb-12 sm:pb-24 px-6 lg:px-0">
    <h1 class="hidden sm:block text-2xl sm:text-3xl lg:text-4xl font-medium tracking-widest text-gray-800">
      {{ contentful.pages.portfolio.heading1 | safe }}
    </h1>
    {{ contentful.pages.portfolio.paragraph1 | safe }}
  </div>
</div>