<script>
  function navToggle() {
    var body = document.getElementById('top');
    var header = document.getElementById('menuHeader');
    var btn = document.getElementById('menuBtn');
    var nav = document.getElementById('menu');
    if (btn.classList.contains('open')) {
      btn.ariaLabel = 'Show Menu';
    } else {
      btn.ariaLabel = 'Hide Menu';
    }
    body.classList.toggle('overflow-y-hidden');
    header.classList.toggle('z-20');
    btn.classList.toggle('open');
    btn.parentNode.classList.toggle('z-1');
    nav.classList.toggle('flex');
    nav.classList.toggle('hidden');

    var burgers = btn.querySelectorAll('span');
    burgers[0].classList.toggle('right-5');
    burgers[1].classList.toggle('right-5');
    burgers[0].classList.toggle('right-1');
    burgers[1].classList.toggle('right-1');
  }

  window.validEmail = function (email) {
    return Boolean(email.value) && /^\S+@\S+\.[a-zA-Z]{2,6}$/.test(email.value);
  }

  window.validPhone = function (phone) {
    return Boolean(phone.value) && /^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/.test(phone.value);
  }

  window.validateNotEmpty = function (field) {
    return typeof field.value === 'string' && field.value.trim().length !== 0;
  }
</script>