---
layout: page.njk
date: Last Modified
permalink: /photography/testimonials.html
eleventyComputed:
  description: "{{ contentful.pages.testimonials.description | safe }}"
  title: "{{ contentful.pages.testimonials.title | safe }}"
---
