---
layout: base.njk
---
<header class="{{ headerClass or 'mb-12 sm:mb-20' }}">
  <p class="text-2xl sm:text-3xl font-bold font-serif mt-5 mb-3 text-gray-950 mx-auto mt-12 font-sans font-thin">Sarah Wilson</p>
  {% include "navbar.njk" %}
</header>
<main id="main-content" class="flex flex-col w-full {{ mainClass or 'bg-white' }}">
  <div class="mb-8">
    {{ content | safe }}
  </div>
</main>