---
layout: page.njk
date: Last Modified
permalink: contact.html
eleventyComputed:
  title: "{{ contentful.pages.contact.title | safe }}"
mainClass: bg-primary-50
---
<div class="w-5/6 px-4 pb-16 m-auto md:w-3/4 lg:w-2/3 xl:w-1/2">
  <h1 class="text-2xl sm:text-3xl lg:text-4xl font-medium tracking-widest text-gray-800">
    {{ contentful.pages.contact.heading1 | safe }}
  </h1>
  {% documentToHtmlString contentful.pages.contact.paragraph1 %}
  {% renderFile "./src/_includes/content/contact-us-form.njk", env %}
</div>