---
layout: page.njk
date: Last Modified
title: Page Not Found
permalink: 404.html
ignore: true
---

<div class="w-5/6 px-4 pb-16 m-auto md:w-3/4 lg:w-2/3 xl:w-1/2">
   <h1 class="mb-6 font-bold tracking-wide marker:text-xl sm:text-2xl text-center">Sorry, the page you are looking for could not be found.</h1>
    <p class="text-lg font-bold">Return to the <a class="anchor" href="/">home page</a></p>
</div>
