---
layout: base.njk
head: >
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Sarah Wilson DSM",
      "url": "https://www.sarahwilsondsm.com",
      "logo": "https://www.sarahwilsondsm.com/img/logo.png"
    }
  </script>
---
<h1>Hello!</h1>