---
layout: page.njk
date: Last Modified
head: >
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Sarah Wilson DSM",
      "url": "https://www.sarahwilsondsm.com",
      "logo": "https://www.sarahwilsondsm.com/img/logo.png"
    }
  </script>
---
<h1 class="text-center tracking-widest text-gray-800">
  Site in progress. Please come back soon!
</h1>
