---
layout: page.njk
date: Last Modified
pagination:
    data: contentful.extraPages
    size: 1
    alias: pg
    addAllPagesToCollections: true
permalink: "/{{ pg.slug | slugify if pg.slug else pg.title | slugify }}.html"
eleventyComputed:
  title: "{{ pg.title }}"
---
